
/*------------------- CLASS STYLES -------------------*/
.card {
    margin: 5px;
    border: 1px solid #20a4be;
    border-bottom: 2px solid #086375 ;
    padding: 10px;
    list-style-type: none; /*for if you slap this on an li*/
}

.disclaimer {
    text-align: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*--------------------- TRELLIS ---------------------*/
html {
    background-color: black;
}
body {
    margin:  0 0 40px 0;
    padding-bottom: 5px;
    color: #FFF;
    background-color: #012a2e;
}

h2, h3 {
    text-align: center;
}
h2 {
    text-decoration: underline;
}
a {
    color: #AFFC41;
}

nav {
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    
    margin: 0px;
    border-bottom: 3px solid #012a2e;
    
    text-align: center;
    list-style-type: none;
    
    background-color: black;
}
nav li {
    flex: 1;
}
nav .selected {
    background-color: #4faabcaa;
}

header, section {
    padding: 0 10%;
    margin-bottom: 15px;
}
/*--------------------- /TRELLIS ---------------------*/


/*------------------- SITE THEME ------------------*/

/* body and html background-colors are the base "canvas" */

header {
    text-align: center;
    margin-top: 1.2em;
}
header img{
    width: 190px;
    height: 140px;
    border: 2px solid #333;
    border-radius: 100%;
}
header #banner-text {
    text-decoration: underline;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

#introduction {
    padding: 0 10%;
    background-color: #086375;
}
#introduction h2{
    text-align: left;
}

#projects {
    padding-top: 10px;
    padding-bottom: 10px;
}
#projects li {
}
#projects #in-progress .card {
    margin-bottom: 5px;
}
#projects #complete {
}

#interests{
    background-color: #086375;
    /* background-color: #012a2e; */
    padding: 5px;
}

#resume {}
#resume ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links {
    background-color: #012a2e;
}
/*------------------ /SITE THEME ------------------*/
